@import "reset";
@import "base";
@import "overlay";
@import "loader";

.wrapper{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

header {
	padding: 20px 0;
	background: #f5dfbd;
	font-family: 'Abril Fatface', cursive;
	border-bottom:1px solid #c4a077;
	h1{
		font-size: 50px;
	}
}

.drinkCall {
	padding-top:20px;
	.drinks {
		cursor: pointer;
		width: 33%;
		min-height: 352px;
		float: left;
		text-align:center;
		border: 1px solid white;
		padding-bottom:25px;
		&:hover {
			border: 1px solid #c4a077;
		}
		h1 {
			font-size: 18px;
		}
		img{
			display: block;
			height: 319px;
			margin: 0 auto;
		}
	}
}


.drink-content{
	img{
		width:100%;
		display:block;
	}
	.content-container{
		float: left;
		width:70%;
		color:white;
		text-align:left;
		padding: 0 40px;
		padding-top:20px;
		h1{
			font-size:34px;
			margin-bottom:20px;
			color: #a4baba;
		}
		p{
			font-size:20px;
		}

		h2 {
			margin-top:60px;
			font-size:14px;
		}

		.storeList span {
			font-size:12px;
			line-height:1;
			margin:0;
			padding:0;
		}
	}
	.img-container{
		float: left;
		width:30%;
	}

}